<h3>Bike Berlin</h3><br>
<p>Berlin, Germany</p><br>
<p>Hours: Monday - Friday 11:00am - 7:00pm</p><br>
<p>Phone: +41 + 55 67 89 00</p><br>
<p>E-mail: bike@bikeberlin.com</p><br>
<p>www.bikeberlin.com</p><br>

